* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    overflow-x: hidden;
}

.space {
    height: 70px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: -75px;
}

#cabecalho .nav .nav-link.active {
    background-color: #155956;
    color: #fff;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-action-figure .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #e7e7e7;
}

#carousel img{
    height: 100vh;
}

#eventos img {
    height: 280px;
}

#action_figures img {
    height: 220px;
}

.section-title {
    font-family: 'League Spartan', sans-serif;
}

#sobre p,
#eventos p {
    text-align: justify;
}

#eventos,
#contato {
    background: linear-gradient(to right,#f5f5f5cc,#f5f5f5cc),url(https://servidor-estatico-tan.vercel.app/common-bg.svg);
    background-position: center;
}

.text-colored {
    color: #155956;
}

.nav-action-figure .nav-link.active,
#modal button.btn,
.mensagem-enviada,
.container-footer,
.adicionado {
    background-color: #155956;
    color: #fff;
}

#modal button.btn:hover {
    background-color: #87baab;
}

.nav-action-figure .nav-link:hover {
    color: #87baab;
}

#modal textarea {
    resize: none;
}

.social-links li {
    list-style: none;
    display: inline-block;
}

.social-links li a:hover {
    color: #87baab !important;
}   

.checked {
    display: none;
}

.adicionado {
    display: none;
}

a {
    text-decoration: none; 
}

.mensagem-enviada {
    display: none;
}

.mensagem-enviada p {
    font-size: 18px;
}

.error {
    color: darkred;
}

.container-footer a strong:hover {
    color: gray;
}

.image {
    position: relative;
    transition: all 0.3s ease;
}

.image:hover .overlay {
    opacity: 1;
    transition: all 0.3s ease;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

@media screen and (max-width: 767px) {
    .navbar {
        text-align: center;
    }

    .navbar button {
        right: 0;
    }

    #sobre #carousel img {
        height: 220px;
    }

    header nav {
        margin-top: 12px;
    }

    #eventos img {
        height: 250px;
    }

    #action_figures img {
        max-width: 250px;
        margin: 0 auto;
    }
    
    #action_figures .info {
        justify-content: space-around;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    #sobre #carousel img {
        height: 400px;
    }

    header nav {
        margin-top: 12px;
        padding-left: 12.5%;
    }

    #eventos img {
        height: 190px;
    }

    #action_figures img {
        height: 120px;
    }

    #action_figures h5 {
        font-size: medium;
    }

    #action_figures .price {
        font-size: small;
    }
}